*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin
dist
site/
test/k8s/kube-burner-*-*-*-*-*.log
test/k8s/metrics-*-*-*-*-*/
test/k8s/metrics.tgz
test/k8s/collected-metrics/
test/k8s/*/alert.json
.vscode/
