kind: Deployment
apiVersion: apps/v1
metadata:
  name: curl-{{.Replica}}-{{.Iteration}}
spec:
  template:
    metadata:
      labels:
        name: curl-{{.Replica}}-{{.Iteration}}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: Exists
              - key: node-role.kubernetes.io/infra
                operator: DoesNotExist
              - key: node-role.kubernetes.io/workload
                operator: DoesNotExist
      containers:
      - name: curlapp
        image: quay.io/cloud-bulldozer/curl:latest
        command: ["sleep", "inf"]
        resources:
          requests:
            memory: "10Mi"
            cpu: "10m"
        env:
        - name: WEBSERVER_HOSTNAME
          value: webserver-{{.Replica}}-{{.Iteration}}
        - name: WEBSERVER_PORT
          value: "8080"
        imagePullPolicy: IfNotPresent
        securityContext:
          privileged: false
        startupProbe:
          exec:
            command: 
              - "/bin/sh"
              - "-c"
              - "curl --fail -sS ${WEBSERVER_HOSTNAME}:${WEBSERVER_PORT} -o /dev/null"
          periodSeconds: 1
          timeoutSeconds: 1
          failureThreshold: 600
      restartPolicy: Always
  replicas: 1
  selector:
    matchLabels:
      name: curl-{{.Replica}}-{{.Iteration}}
  strategy:
    type: RollingUpdate
