name: CI tests
on:
  workflow_call:
  workflow_dispatch:
  pull_request_target:
    branches:
      - master
      - main

jobs:
  codeql:
    uses: ./.github/workflows/codeql.yml

  lint:
    uses: ./.github/workflows/linters.yml

  build:
    uses: ./.github/workflows/builders.yml

  check-docs:
    uses: ./.github/workflows/check-docs-links.yml

  tests:
    needs: build
    uses: ./.github/workflows/test-k8s.yml
    secrets: inherit
