# docs.yml
name: Deploy docs
on:
  release:
    types:
    - published
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: |
          export RELEASE_TAG_VERSION=${{ github.event.release.tag_name }}
          echo "RELEASE_TAG_VERSION=${RELEASE_TAG_VERSION}" >> $GITHUB_ENV
      - name: Setup doc deploy
        run: |
          git config --global user.name Docs deploy
          git config --global user.email docs@dummy.bot.com
      - run: pip install mkdocs-material mkdocs-include-markdown-plugin mike
      - run: mike set-default --push latest
      - run: |
          mike deploy --push -m "Update docs to version ${RELEASE_TAG_VERSION}" --update-aliases ${RELEASE_TAG_VERSION} latest
      - run: mike set-default --push latest
