# gorelease.yml
name: Create a new release of project
on:
  workflow_call:
jobs:
  release-go:
    name: GoReleaser build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # See: https://goreleaser.com/ci/actions/
          persist-credentials: false

      - name: Set up Go 1.23
        uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@master
        with:
          version: 1.21.0
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
