# pullrequest.yml
name: Pull Request Workflow
on:
  push:
    branches:
      - master
      - release-*
  pull_request_target:
    branches:
      - master
      - main
      - release-*

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
        ref: ${{ github.event.pull_request.head.sha }}
        persist-credentials: false

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run pre-commit hooks
      run: pre-commit run --all-files

  build:
    uses: ./.github/workflows/builders.yml
    needs: linters
  tests:
    needs: build
    uses: ./.github/workflows/test-k8s.yml
    secrets: inherit
