# test-k8s.yml
name: Execute tests on k8s and OCP
on:
  workflow_dispatch:
  workflow_call:
jobs:
  fetch-latest-kind-node-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.fetch-versions.outputs.tags }}
    steps:
      - name: Fetch latest patch version for the latest 3 minor versions of kindest/node
        id: fetch-versions
        run: |
          # Fetch tags from Docker Hub API
          all_tags=$(curl -s "https://hub.docker.com/v2/repositories/kindest/node/tags/?page_size=100" | jq -r '.results[].name')

          # Filter semantic versioning tags
          semver_tags=$(echo "$all_tags" | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$')

          # Get the latest patch versions of the latest 3 minor versions
          latest_three=$(echo "$semver_tags" | sort -V | awk -F. '{print $1"."$2}' | uniq | tail -n 3 | while read minor; do
            echo "$semver_tags" | grep "^$minor" | sort -V | tail -n 1
          done)

          echo "Latest patch versions of the latest 3 minor versions:"
          echo "$latest_three"

          # Convert the output to a JSON array for use in other steps
          tags_json=$(echo "$latest_three" | jq -c -R -s 'split("\n") | map(select(length > 0))')
          echo "tags=$tags_json" >> "$GITHUB_OUTPUT"

  test-k8s:
    needs: fetch-latest-kind-node-tags
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s-version: ${{ fromJson(needs.fetch-latest-kind-node-tags.outputs.tags) }}
    steps:

    - name: Checkout PR head
      uses: actions/checkout@v6
      with:
        # Use the PR head SHA
        ref: ${{ github.event.pull_request.head.sha }}
        # Fetch only the most recent commit of the PR
        fetch-depth: 1
        persist-credentials: false

    - name: Fetch base branch for comparison
      # This tells Git about origin/main (or master) without downloading the whole repo
      run: git fetch origin ${{ github.event.pull_request.base.ref }} --depth=1

    - name: Download kube-burner binary
      uses: actions/download-artifact@v7
      with:
        name: kube-burner
        path: /tmp/

    - name: Install bats
      uses: bats-core/bats-action@3.0.1
      with:
        bats-version: 1.10.0
        support-install: false
        assert-install: false
        detik-install: false
        file-install: false

    - name: Execute Tests
      run: |
        chmod +x /tmp/kube-burner
        make test-k8s
      env:
        TERM: linux
        GH_TOKEN: ${{ github.token }}
        KIND_VERSION: v0.19.0
        K8S_VERSION: ${{matrix.k8s-version}}
        PERFSCALE_PROD_ES_SERVER: ${{ secrets.PERFSCALE_PROD_ES_SERVER }}
        TEST_BINARY: /tmp/kube-burner
